.login-form {
  padding: 20px;
  margin: 30px auto;
}

.input-control {
  margin-bottom: 10px;
}

.input-control label {
  display: block;
  width: fit-content;
  margin-bottom: 3px;
  font-weight: 500;
}

.input-control input {
  height: 22px;
  width: 80%;
  padding: 3px;
  font-size: medium;
  border: 1px solid gray;
  border-radius: 5px;
}
.input-control input:focus {
  outline: none;
  background-color: #caddf5;
  box-shadow: 0 0 2px #00224d;
}

.input-control.invalid input {
  background-color: #e9b9b9;
  border-color: #ff0000;
}

.login-btn {
  cursor: pointer;
  padding: 5px;
  background-color: #00224d;
  color: white;
  font-size: inherit;
  font-weight: 600;
  border: 1px solid;
  border-radius: 5px;
}

.login-btn:hover,
.login-btn:focus {
  outline: none;
  background-color: #001025;
}

.login-btn:disabled,
.login-btn:focus:disabled,
.login-btn:hover:disabled,
.login-btn:active:disabled {
  background: #cccccc;
  border-color: #cccccc;
  color: #636363;
  cursor: not-allowed;
}
